@use '../../styles/variables' as *;

body.dark .abmPage {
    @include theme(dark);

    .abmPageContainer {
        .title {
            color: $primary-color-dark;
        }
    }
}

.abmPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    min-height: 70dvh;

    .abmPageContainer {
        .title {
            font-size: $font-size-xlarge;
            font-weight: $font-weight-bold;
            color: $secondary-color;
        }
    }
}