@use '../../styles/variables' as *;

.videoItemSkeleton {
    background-color: $skeleton-element-color;
    animation: pulse 1.5s infinite;
    width: 100%;
    height: 300px;

    .videoThumbnailSkeleton {
        background-color: $skeleton-element-color;
        animation: pulse 1.5s infinite;

        img {
            background-color: $skeleton-element-color;
            animation: pulse 1.5s infinite;
        }

        .videoInfoSkeleton {
            background-color: $skeleton-element-color;
            animation: pulse 1.5s infinite;

            .videoDetailsSkeleton {
                background-color: $skeleton-element-color;
                animation: pulse 1.5s infinite;
            }
        }
    }
}