$primary-color: #1A1A1A;
$secondary-color: #722F2F;
$tertiary-color: #747B85;
$quaternary-color: rgb(209, 213, 219);

$background-color: #FAF8F6;
$secondary-background-color: #5C2626;

$hover-color: #4A1E1E;
$secondary-hover-color: #EEE7DD;

$shadow-color: rgba(0, 0, 0, 0.1);

$skeleton-background-color: #E0E0E0;
$skeleton-element-color: #C0C0C0;

$primary-color-dark: #EAEAEA;
$secondary-color-dark: #FFCCCC;
$tertiary-color-dark: #B8BFC9;
$quaternary-color-dark: rgb(46, 50, 56);

$background-color-dark: #1A1A1A;
$secondary-background-color-dark: #722F2F;

$hover-color-dark: #722F2F;
$secondary-hover-color-dark: #2E2E2E;

$shadow-color-dark: rgba(255, 255, 255, 0.1);

$skeleton-background-color-dark: #3A3A3A;
$skeleton-element-color-dark: #5A5A5A;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 30px;
$font-size-xxlarge: 60px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@mixin theme($theme) {
    @if $theme =='dark' {
        color: $primary-color-dark;
        background-color: $background-color-dark;
    }

    @else if $theme =='light' {
        color: $primary-color;
        background-color: $background-color;
    }
}