$primary-color: #1A1A1A;
$secondary-color: #722F2F;
$tertiary-color: #747B85;
$quaternary-color: rgb(209, 213, 219);

$background-color: #FAF8F6;
$secondary-background-color: #5C2626;

$hover-color: #4A1E1E;
$secondary-hover-color: #EEE7DD;

$shadow-color: rgba(0, 0, 0, 0.1);

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 30px;
$font-size-xxlarge: 60px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;