@use "../../styles/variables" as *;

body.dark .header {
    @include theme(dark);
}

body.light .header {
    @include theme(light);
}

.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: fit-content;
    background-color: #f8f9fa;
    text-align: center;
    padding: clamp(10px, 0vw, 20px) clamp(20px, 5vw, 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease;

    .headerLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        .logoLink {
            display: flex;
            align-items: center;
            text-decoration: none;

            .headerTitle {
                font-size: $font-size-large;
                line-height: 28px;
                font-weight: $font-weight-bold;
                color: $secondary-color;
            }

            .logo {
                width: clamp(50px, 5vw, 100px);
                height: auto;
                border-radius: 5px;
                alt: "Logo del Lemare FC";
            }
        }
    }

    .headerLinks {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .menuToggle,
    .themeToggle {
        cursor: pointer;
        background: none;
        border: none;
        font-size: $font-size-large;
        color: $secondary-color;
        transition: color 0.3s ease-in-out;
    }
}