@use "../../styles/variables" as *;

body.dark .navbar {
    color: $primary-color-dark;

    .navbarNav {
        .navItem {
            a {
                &:hover {
                    color: $secondary-color-dark;
                }
            }
        }
    }
}

body.light .navbar {
    color: $primary-color;
}

.navbar {
    .menuToggle {
        position: absolute;
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        right: 1rem;
        top: .5rem;
    }

    .navbarNav {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        .navItem {
            a {
                color: inherit;
                text-decoration: none;
                padding: 0.5rem 1rem;
                border-radius: 4px;
                font-weight: $font-weight-medium;
                font-size: $font-size-medium;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    @media (max-width: 768px) {
        .menuToggle {
            display: block;
        }

        .navbarNav {
            display: none;
            flex-direction: column;
            background-color: inherit;
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &.open {
                display: flex;
            }

            .navItem {
                a {
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
    }
}