@use '../../styles/variables' as *;

.socialMediaWrapper {
    position: relative;
}

.socialMediaIcon {
    position: relative;
    z-index: 1000;

    svg {
        width: 24px;
        height: 24px;
        margin: 0 5px;
        cursor: pointer;
        color: $tertiary-color;
    }

    &:hover svg {
        color: $secondary-hover-color;
    }
}

.youtubeSubmenu {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Ajusta la posición debajo del icono */
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .submenuItem {
        margin: 0 5px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}