@use "../../styles/variables" as *;

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: url('/bannerOlas.webp') no-repeat center center/cover;
    background-attachment: fixed;

    .banner-logo {
        max-width: clamp(200px, 20vw, 300px);
        width: 300px;
        height: auto;
    }

    .title {
        font-size: 2.5rem;
        color: $secondary-color;
        font-weight: $font-weight-bold;
        font-size: $font-size-xxlarge;
        line-height: 60px;
        text-align: center;
        margin-bottom: clamp(20px, 5vw, 60px);
    }

    p {
        font-size: $font-size-large;
        color: $primary-color;
        font-weight: $font-weight-normal;
        line-height: 28px;
        text-align: center;
        width: clamp(300px, 44vw, 600px);
    }

    .banner-buttons {
        margin-top: 3rem;
    }
}