@use '../../styles/variables' as *;

.videoItem {
    max-width: 25rem;
    height: 100%;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease-in-out;

    .videoThumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        object-fit: cover;
        border-radius: 0.5rem;
        background-color: $background-color;
        border: 1px solid $quaternary-color;
        text-decoration: none;

        img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem 0.5rem 0 0;
            object-fit: cover;
            transition: filter 0.3s ease-in-out;
        }

        .videoInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;
            height: 8rem;
            padding: 1rem;
            text-align: center;
            background-color: $background-color;
            border-radius: 0 0 0.5rem 0.5rem;
            border-top: 1px solid $quaternary-color;

            h3 {
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                color: $primary-color;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: $font-size-small;
                color: $tertiary-color;
                margin-bottom: 0.5rem;
            }

            .videoDetails {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: $font-size-small;
                color: $tertiary-color;

                .videoDuration,
                .videoDate {
                    font-weight: $font-weight-normal;
                    transition: color 0.3s ease-in-out;
                }

                .videoCreator {
                    font-weight: $font-weight-bold;
                    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
                    padding: 0.5rem;
                    border: 1px solid $quaternary-color;
                    border-radius: 1rem;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        .videoThumbnail {
            img {
                filter: brightness(0.6);
            }

            .videoInfo {
                .videoDetails {
                    color: $secondary-color;

                    .videoCreator {
                        color: $secondary-color;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}